body {
    background-color: #ff0054;
}

.logo {
    font-family: 'Hachi Maru Pop', cursive;
}

.card-bg {
    background-color: #ffbd00;
}

.dog-title {
    color: #390099;
    font-size: 30px;
}

.dog-info {
    color: #9e0059;
    font-size: 15px;
    font-family: 'Gruppo', cursive;
}

.contact {
    font-size: 10px;
    font-family: 'Gruppo', cursive;
}

.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}