body {
    background-color: #ff0054;
}

.logo {
    font-family: 'Hachi Maru Pop', cursive;
}

.card-bg {
    background-color: #ffbd00;
}

.dog-title {
    color: #390099;
    font-size: 25px;
}

.dog-info {
    color: #9e0059;
    font-family: 'Gruppo', cursive;
}

.contact {
    font-size: 10px;
    font-family: 'Gruppo', cursive;
}

.card-img-top {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.card-body {
    width: 100%;
    height: 125px
}

.breed {
    font-size: 20px
}

.size {
    font-size: 15px;
    color: #ffbd00
}

.card-deck {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: .5rem;
}