body {
    background-color: white;
    margin: 0;
    padding: 0;

}

.logo {
    font-family: 'Hachi Maru Pop', cursive;
    font-size: 50px;
}

.card-bg {
    background-color: rgb(243, 241, 241);
}

.dog-title {
    color: #ad7d38;
    font-size: 25px;
}

.dog-info {
    color: #09344f;
    font-family: 'Gruppo', cursive;
}

.contact {
    font-size: 12px;
    font-family: 'Gruppo', cursive;
}

.card-img-top {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.card-body {
    width: 100%;
    height: 125px
}

.breed {
    font-size: 20px
}

.size {
    font-size: 15px;

    color: #ca9238
}

.card-deck {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: .5rem;
}

.nav-link {
    font-family: 'Gruppo', cursive;

}

.nav-logo {
    font-size: 25px;
    color: #3a6fa1;
}

.card-deck {
    height: 100%;
    width: 100%
}

.close-button {
    background-color: #ca9238;
    color: white
}

.submit-button {
    background-color: #638fb8;
    color: white
}

.modal-info {
    font-family: 'Gruppo', cursive;
}

.modal-title {
    width: 100%;
    font-size: 40px;
    font-family: 'Hachi Maru Pop', cursive;
}

.modal-bio {
    font-size: 20px
}

.filter-titles {
    font-size: 20px;
    font-family: 'Gruppo', cursive;
}

.start-button {
    background-color: #ca9238;
    color: white;
    font-size: 30px;
    font-family: 'Gruppo', cursive;
}

.landing-img {
    width: 100vw
}

.header-img {
    height: auto;
    width:100%;
    z-index: 1;
    /* margin-top: 100px; */
    position: absolute;
    bottom: 80px;
}

.bg-white {
    background-color: white;
    width: 100%
}

.title {
    color: #aaaaaa;
    text-shadow: 2px 2px #0b3e6d;
    font-family: 'Gruppo', cursive;
}

.filter-button {
    background-color: #638fb8;
    color: white;
    font-size: 15px;
    font-family: 'Gruppo', cursive;
    border: #638fb8
}

.filter-button:hover {
    background-color: #0b3e6d;
}

.sort-button:hover {
    background-color: #ad7d38;
}

.sort-button {
    background-color: #ca9238;
    color: white;
    font-size: 15px;
    font-family: 'Gruppo', cursive;
    border: #ca9238
}

.img-card {
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    background: #000;
    z-index: 0;
  }
  
  .heart-unclicked {
    position: absolute;
    right: 0; top: 0;
    padding: 3px 8px;
    color: #fae2bd;

    z-index: 1;
    font-size: 25px;

    text-shadow: -1px 1px 0 #ad7d38,
    1px 1px 0 #ad7d38,
    1px -1px 0 #ad7d38,
    -1px -1px 0 #ad7d38;
    
    
  }

  .heart-clicked {
    position: absolute;
    right: 0; top: 0;
    padding: 3px 8px;
    color: #ad7d38;

    z-index: 1;
    font-size: 25px;

    text-shadow: -1px 1px 0 #fae2bd,
    1px 1px 0 #fae2bd,
    1px -1px 0 #fae2bd,
    -1px -1px 0 #fae2bd;
    
    
  }

@media (hover:hover) and (pointer:fine) {
    .heart-unclicked:hover {
        cursor: pointer;
        color: #ca9238
    }
    
    .heart-clicked:hover {
        cursor: pointer;
        color: #ca9238
    }
}

.footer-container {
    width: 100%;
    height: 70px;
    border-color: black;
    background-color: #0b3e6d;
}

.footer-text-quote {
    color: white;
    font-family: 'Hachi Maru Pop', cursive;
    font-size: 15px;
}

.footer-text-logo {
    color: white;
    font-family: 'Gruppo', cursive;
    font-size: 10px;
}

.footer-bar{
    width: 100%;
    height: 10px;
    border-color: black;
    background-color: #638fb8;
}

.ft-con {
    z-index: 2;
    /* position: absolute;
    bottom: 0px;
    right: 0px;
    left: 0px */
}

.app-container{
    z-index: 1;
    background-color: white;
}

.about-title {
    font-size: 50px;
    color: #ad7d38;
    font-family: 'Hachi Maru Pop', cursive;
}

.about-text {
    font-size: 15px;
    color: black;
    font-family: 'Gruppo', cursive;
}

.about-image {
    height: 400px
}

.about-img-box {
    background-color: #0b3e6d;
}

.about-img {
    height: auto;
    width: 100%
}

.about-img-border {
    border-color: #ca9238;
    border: 1px
}

